body {
    background-color: aliceblue;
}

#header {
    text-align: center;
    font-family: "Courier New";
    border: 25px solid skyblue;
    background-color: skyblue;
    letter-spacing: 4px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}

.footer {
    border: 15px solid cornflowerblue;
    background-color: cornflowerblue;
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}