body {
    background-color: whitesmoke;
    position: relative;
}

#header {
    text-align: center;
    font-family: "Courier New";
    border: 25px solid lightcoral;
    background-color: lightcoral;
    letter-spacing: 4px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
    border-bottom: 5px double cornflowerblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}

/*
.active {
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
    color: skyblue;
    cursor: default;
}
*/

#validate {
    float: right;
    position: absolute;
    right: 50px;
    top: 45px;
}

#link {
    color: black;
}


#exchange {
    padding-left: 130px;
    font-family: "Courier New";
    font-weight: bold;
    padding-top: 25px;
}

#buyPrice {
    padding-left: 130px;
    font-family: "Courier New";
}

#sellPrice {
    padding-left: 130px;
    font-family: "Courier New";
/*    padding-bottom: 5px;*/
}

.chart {
/*    border-top: 8px double mediumpurple;*/
    height: 60%;
    width: 60%;
    padding-left: 120px;
    padding-top: 50px;
}


.twitter {
    position: absolute;
    text-align: right;
    bottom: 75px;
    right: 35px;
}


.footer {
    border: 15px solid palevioletred;
    background-color: palevioletred;
    
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}