body {
/*    background: linear-gradient(to bottom right, mediumpurple,  mediumaquamarine);*/
/*    background-color: thistle;*/
    background-color: #DFDCE3;
    padding: 20px 60px;
    position: relative;
}

.nav {
/*    padding-left: 10px;*/
    padding-top: 50px;
    border-bottom: 5px double royalblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}

/*
.active {
    border: 5px solid black;
    background-color: black;
    color: skyblue;
    cursor: default;
}
*/


#header {
    text-align: center;
/*    text-shadow: 2px 2px hotpink;*/
/*    font-size: 30px;*/
    font-family: "Palatino";
    border: 25px solid lightcoral;
    background-color: lightcoral;
    letter-spacing: 4px;
    padding-top: 25px;
}

#validate {
    float: right;
    position: absolute;
    right: 80px;
    top: 92px;
    background-color: #93C178;
}

#link {
    color: black;
    position: relative;
    bottom: 1px;
}

#exchange {
    padding-left: 30px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    padding-top: 25px;
/*    border: 15px solid #93C178;*/
/*    background-color: #93C178;*/
}

#buyPrice {
    padding-left: 30px;
    font-family: "Trebuchet MS";
/*    border: 15px solid #93C178;*/
/*    background-color: #93C178;*/
}

#sellPrice {
    padding-left: 30px;
    font-family: "Trebuchet MS";
/*    padding-bottom: 5px;*/
/*    border: 15px solid #93C178;*/
/*    background-color: #93C178;*/
}

.chart {
/*    border-top: 8px double mediumpurple;*/
    height: 60%;
    width: 60%;
    padding-left: 20px;
    padding-top: 50px;
}

.twitter {
    position: absolute;
    text-align: right;
    bottom: 125px;
    right: 65px;
}


.footer {
/*    border: 15px solid palevioletred;*/
/*    background-color: palevioletred;*/
    
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}