body {
    background-color: aliceblue;
}

.row {
    margin-left: 225px;
    padding-top: 10px;
}

.headers {
    text-align: center;
    border: 15px solid lightblue;
    background-color: lightblue;
}

.image {
    text-align: center;
}

#blockchain {
    height: 35%;
    width: 35%;
    opacity: .4;
    border: 15px solid skyblue;
    background-color: skyblue;
}
