/*
body {
    background: linear-gradient(to bottom right, royalblue, skyblue);
}
*/


/* Ibrahim Jabbari -- www.ibrahimjabbari.com */
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
body {
    background-color: rgba(100,149,237,0.25);
/*    background-color: rgba(240,128,128,0.3);*/
    z-index: -1;
}

.background {
    opacity: 0.5;
    z-index: -1;
}


.plate {
  width: 410px;
  margin: 10% auto;
  position: absolute;
  top: 50px;
  left: 525px;
  opacity: 0.8;
}
.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: darkgrey;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: #222;
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}
.text1 {
  color: #96858F;
  font-size: 60px;
}
.text2 {
  color: #96858F;
  font-size: 169px;
}
.text3 {
  color: #96858F;
  font-size: 100px;
}




.row {
    margin-left: 215px;
    padding-bottom: 500px; 
    color: white;
    font-family: "Andale Mono";
    position: absolute;
    top: 50px;
}

/*
.headers {
    color: white;
    font-family: "Andale Mono";
    text-align: center;
}
*/

input {
    font:small-caption;
    font-size:16px;
}

.username {
    color: black;
}

.password {
    color: black;
}

.submit {
    color: black;
}


/*
.image {
    text-align: center;
}

#world {
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index:-1;
    position: relative;
    bottom: 300px;
}
*/
