body {
    background: linear-gradient(to bottom right, royalblue, skyblue);
}


.row {
    margin-left: 215px;
    padding-top: 50px; 
    color: black;
    font-family: "Andale Mono";
}

.headers {
    color: black;
    font-family: "Andale Mono";
    text-align: center;
}

.image {
    text-align: center;
}

#world {
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index:-1;
    position: relative;
    bottom: 300px;
}
