body {
/*    background-color: thistle;*/
    background-color: lightsteelblue;
    position: relative;
}

#header {
    text-align: center;
    font-family: "Courier New";
/*
    border: 25px solid lightcoral;
    background-color: lightcoral;
*/
    letter-spacing: 4px;
    padding-top: 25px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
    border-bottom: 5px double cornflowerblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid cornflowerblue;
  background-color: cornflowerblue;
}

#validate {
    float: right;
    position: absolute;
    right: 50px;
    top: 25px;
}

#link {
    color: black;
    position: relative;
    bottom: 1px;
}

#coinmap {
    height: 400px;
    width: 100%;
}

#map {
    height: 400px;
    width: 100%;
    position: absolute;
}

.header2 {
    font-family: "Courier New";
    text-align: center;
    color: black;
/*    border: 25px solid mediumslateblue;*/
/*    background-color: mediumslateblue;*/
}

.footer {
/*    border: 15px solid palevioletred;*/
/*    background-color: palevioletred;*/
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}