body {
    background: #DFDCE3; 
    padding: 20px 60px;
    position: relative;
}


#header {
    text-align: center;
    font-family: "Palatino";
    border: 25px solid lightcoral;
    background-color: lightcoral;
    letter-spacing: 4px;
    padding-top: 25px;
}

.nav {
    padding-top: 50px;
    border-bottom: 5px double royalblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid cornflowerblue;
  background-color: cornflowerblue;
}

#validate {
    float: right;
    position: absolute;
    right: 80px;
    top: 92px;
    background-color: #93C178;
}

#link {
    color: black;
    position: relative;
}

#coinmap {
    height: 400px;
    width: 100%;
    border: 25px solid thistle;
    background-color: thistle;
}

#map {
    height: 400px;
    width: 92%;
    position: absolute;
    border: 25px solid thistle;
    background-color: thistle;
}

.header2 {
    font-family: "Trebuchet MS";
    text-align: center;
    color: black;
    border: 0.5px solid #D133FF;
    background-color: rgba(209, 51, 255, 0.5);
    padding: 20px;
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}