body {
    background: #DFDCE3; 
    padding: 20px 60px;
}

#header {
    text-align: center;
    font-family: "Palatino";
/*    text-shadow: 2px 2px grey;*/
    border: 25px solid lightcoral;
    background-color: lightcoral;
    letter-spacing: 4px;
    padding-top: 25px;
}

.nav {
    padding-top: 50px;
    border-bottom: 5px double royalblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid cornflowerblue;
  background-color: cornflowerblue;
}

#validate {
    float: right;
    position: absolute;
    right: 80px;
    top: 92px;
    background-color: #93C178;
}

#link {
    color: black;
}

.contact-page {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
}

.row {
    padding-top: 20px;
    border: 15px solid thistle;
    background-color: thistle;
}

.column2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#questions {
    font-family: "Trebuchet MS";
    padding-bottom: 5px;
}

.stay-in-touch {
    font-family: "Trebuchet MS";
}

#linkedin {
    height: 10%;
    width: 10%;
}

#fb-insta {
    height: 9%;
    width: 9%;
}

#vegas {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    padding-bottom: 15px;
}

#phone-text {
    font-family: "Trebuchet MS";
    padding-bottom: 50px;
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}