body {
/*    background-color: thistle; also was lightsteelblue*/
    background-color: tan;
}

#header {
    text-align: center;
    font-family: "Courier New";
/*
    border: 25px solid lightcoral;
    background-color: lightcoral;
*/
    letter-spacing: 4px;
    padding-top: 25px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
    border-bottom: 5px double firebrick;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid firebrick;
  background-color: firebrick;
}

#validate {
    float: right;
    position: absolute;
    right: 50px;
    top: 45px;
}

#link {
    color: black;
}

.contact-page {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
}

.row {
/*    border: 3px double goldenrod;*/
    padding-top: 20px;
}

.column2 {
/*    border: 3px double blue;*/
/*    border-radius: 50%;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

#questions {
    font-family: "Courier New";
    padding-bottom: 5px;
}

.stay-in-touch {
    font-family: "Courier New";
}

#linkedin {
    height: 10%;
    width: 10%;
}

#fb-insta {
    height: 9%;
    width: 9%;
}

#vegas {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    padding-bottom: 15px;
}

#phone-text {
    font-family: "Courier New";
    padding-bottom: 50px;
}

.footer {
/*    border: 15px solid palevioletred;*/
/*    background-color: palevioletred;*/
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}