body {
    background-color: aliceblue;
}

#header {
    text-align: center;
    font-family: "Courier New";
    border: 25px solid skyblue;
    background-color: skyblue;
    letter-spacing: 4px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
    border-bottom: 5px double cornflowerblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid cornflowerblue;
  background-color: cornflowerblue;
}



.contact-page {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-top: 75px;
}

.column2 {
    border: 3px double goldenrod;
    padding-top: 15px;
    padding-bottom: 15px;
}

#questions {
    font-family: "Courier New";
    padding-bottom: 5px;
}

.stay-in-touch {
    font-family: "Courier New";
}

#linkedin {
    height: 10%;
    width: 10%;
}

#fb-insta {
    height: 9%;
    width: 9%;
}

#vegas {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    padding-bottom: 15px;
}

#phone-text {
    font-family: "Courier New";
    padding-bottom: 50px;
}

.footer {
    border: 15px solid cornflowerblue;
    background-color: cornflowerblue;
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}