<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--my stylesheet-->
        <link rel="stylesheet" href="wishlist.css">
        <!--MONGO/VUE TO DO LIST-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="image/sigma.png">
    </head>
    <body>
        
        <div>
            <h1 id="header">WELCOME TO YOUR PERSONAL <span class="glyphicon glyphicon-bitcoin"></span>IT <span class="glyphicon glyphicon-bitcoin"></span>AG!</h1>
            <button id='validate' type="button" class="btn btn-warning"><a id="link" href="/logout">LOG OUT</a></button>
        </div>
        
        <div class="nav">
            <nav class="navbar navbar-light bg-faded">
                <a class="navbar-brand" href="dashboard.html">HOME</a>
                <a class="navbar-brand" href="wishlist.html">MY BIT BAG</a>
                <a class="navbar-brand" href="merchant-map.html">MERCHANT MAP</a>
                <a class="navbar-brand" href="questions.html">QUESTIONS?</a>
            </nav>
        </div>

        <h1 id="bit-header">What do you want to add to your BitBag?</h1>

        <!--Mongo to-do list with Vue-->
        <div id="app">
            <form class="form" v-on:submit="createTodo">
                <input v-model="todoText" placeholder="New Item">
                <input type="submit" value="Submit!">
            </form>

            <ul>
                <!--separate vue.js statements-->
                <li 
                    v-on:click="markDone(todo)" 
                    v-for="todo in todos"
                    v-bind:class="{doneClass: todo.done}"
                >
                    {{todo.text}} <button v-on:click="deleteTodo(todo, $event)"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                </li>
            </ul>
        </div>
        <!--photo collage-->
        <div class="container"> 
            <section id="photos">
                <a href="https://www.nike.com/us/en_us/?ref=https%253A%252F%252Fwww.google.com%252F" target="_blank"><img id="nike" src="image/nike.jpg"/></a>
                <a href="https://www.google.com/search?q=kalamata+greece&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiQkrKsgrDWAhXIyVQKHcBfBhsQ_AUICygC&biw=1440&bih=692" target="_blank"><img id="kalamata" src="image/kalamata.png"/></a>
                <a href="https://www.trescabezas.de/de/" target="_blank"><img id="cabezas" src="image/cabezas.jpg"/></a>
                <a href="https://www.coindesk.com/new-york-preschools-accept-bitcoin-litecoin-and-ether-for-tuition-payments/" target="_blank"><img id="nyc" src="image/nyc.jpg"/></a>
                <a href="http://www.americanapparel.com/en/basics-shop_cat2180890" target="_blank"><img id="american" src="image/american.jpg"/></a>
                <a href="https://www.cheapair.com/" target="_blank"><img id="cheap-air" src="image/cheap-air.png"/></a>
             </section>
        </div>
        
        <footer class="footer">
            <div class="container">
                <span class="text-muted">
                    <p class="powered-by">Powered By Frappés <img id="gr-flag" src="image/flag.svg"/></p>
                </span>
            </div>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="wishlist.js"></script>
    </body>
</html>