body {
    background-color: whitesmoke;
}

#header {
    text-align: center;
    font-family: "Courier New";
    border: 25px solid lightcoral;
    background-color: lightcoral;
    letter-spacing: 4px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
    border-bottom: 5px double cornflowerblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid cornflowerblue;
  background-color: cornflowerblue;
}

#validate {
    float: right;
    position: absolute;
    right: 50px;
    top: 45px;
}

.footer {
    border: 15px solid palevioletred;
    background-color: palevioletred;
}

#link {
    color: black;
}


/* --------------------------TO DO LIST ==> WISH LIST----------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
    font: normal normal 13px/16px "Open Sans", sans-serif;
}

.wishlist{
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}

form {
    display: inline-block;
}

input {
    padding: 4px 15px 4px 5px;
}

#button{
    display: inline-block;
    background-color:#fc999b;
    color: white;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
}

#button:hover {
    /*when cursor is on button and pointing to it*/
    cursor: pointer;
    opacity: .8;
}

ol {
    padding-left: 20px;
}

ol li { 
    padding: 5px;
    color: black;
}

/*ol li:nth-child(even){background: #dfdfdf;}*/

.strike {
    text-decoration: line-through;
}

li:hover {
  cursor: pointer;
 }

=============================================================================

.footer {
    padding-top: 100px;
}

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}