body { 
    background: #DFDCE3; 
    padding: 20px 60px;
}

#header {
    text-align: center;
/*    text-shadow: 2px 2px grey;*/
    font-family: "Palatino";
    border: 25px solid lightcoral;
    background-color: lightcoral;
    letter-spacing: 4px;
    padding-top: 25px;
}

.nav {
    padding-top: 50px;
    border-bottom: 5px double royalblue;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
  border: 5px solid cornflowerblue;
  background-color: cornflowerblue;
}

#validate {
    float: right;
    position: absolute;
    right: 80px;
    top: 92px;
    background-color: #93C178;
}

.footer {
    padding-top: 30px;
}

#link {
    color: black;
}

#bit-header {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px;
    font-family: "Trebuchet MS";
}

/*mongo to do list*/
.form {
    padding-top: 40px;
    padding-bottom: 40px;
}

.doneClass {
    text-decoration: line-through;
}
li button {
    border-radius: 99999px;
}


ul li {
    list-style-type: none;
    padding-bottom: 20px;
}

#app {
    text-align: center;
    border: 5px solid cornflowerblue;
    background-color: rgba(225, 105, 180, 0.4);
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   padding-top: 70px;
    padding-right: 100px;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  opacity: .7;
}

section {
    height: 1000px;
    width: 2000px;
}

=============================================================================

.powered-by {
    color: black;
    text-align: center;
}

#gr-flag {
    height: 2%;
    width: 2%;
}

.footer {
    text-align: center;
}